
@import '../app/_config'

@mixin font-face($name)
  $font-files: "../fonts/#{$name}/#{$name}"
  @font-face
    font-family: $name;
    src: url("#{$font-files}.ttf") format("ttf")
    src: url("#{$font-files}.woff") format("woff")
    src: url("#{$font-files}.woff2") format("woff2")
    src: url("#{$font-files}.otf") format("otf")
    src: url("#{$font-files}.eot") format("eot")
    font-weight: normal
    font-style: normal


@mixin filter($filter-type,$filter-amount)
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})')
  -moz-filter: $filter-type+unquote('(#{$filter-amount})')
  -ms-filter: $filter-type+unquote('(#{$filter-amount})')
  -o-filter: $filter-type+unquote('(#{$filter-amount})')
  filter: $filter-type+unquote('(#{$filter-amount})')


@function rem($pixels, $context: $browser-context)
  @return #{$pixels/$context}rem


@function col($count)
  @return ($count*100/12)+%


// Return font-family from $fonts (app/_config.sass)
@function -ff($font)
  @if map-has-key($fonts, $font)
    @return #{map-get($fonts, $font)}, Arial, Helvetica, sans-serif;
  @else 
    @return Arial, Helvetica, sans-serif;
    
@mixin --pseudo($display: block, $pos: absolute, $content: '')
  content: $content
  display: $display
  position: $pos
  
@mixin --bgImg($name)
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50% 
  background-image: url($name)
  
@mixin bgImg($name)
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50% 
  background-image: url($name) 
  
@mixin bgi($name, $x: 50%, $y: 50%, $repeat: no, $size: cover)
  background-image: url(../img/#{$name})
  background-position: #{$x} #{$y}
  background-size: #{$size}
  @if $repeat == no
    background-repeat: no-repeat
  @else if $repeat == y
    background-repeat: repeat-y
  @else if $repeat == x
    background-repeat: repeat-x
   
  
  
@mixin mq($width, $type: max)
  @media only screen and (#{$type}-width: #{$width}px)
    @content

@mixin clearfix($type: both)
  &:after
    display: block
    content: ""
    clear: #{$type}

@mixin ratio($part)
  position: relative
  width: 100%
  padding-top: (#{$part})

@mixin abs($top: 0, $left: 0, $width: 100%, $height: 100%)
  position: absolute
  top: #{$top}
  left: #{$left}
  width: #{$width}
  height: #{$height}