<!DOCTYPE html>
<html lang="en" style="background-color: red">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/normalize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>Mountains</title>
</head>
<body>
	<!-- Begin Head -->
		<!--=include parts/head.html -->
	<!-- End Head -->

	<!-- Begin Blog -->
		<!--=include parts/blog.html -->
	<!-- End Blog -->

	<!-- Begin Journal -->
		<!--=include parts/journal.html -->
	<!-- End Journal -->

	<!-- Begin Offer -->
		<!--=include parts/offer.html1 -->
	<!-- End Offer -->

	<!-- Begin Scheme -->
		<!--=include parts/scheme.html1 -->
	<!-- End Scheme -->

	<!-- Begin Travel -->
		<!--=include parts/travel.html1 -->
	<!-- End Travel -->

	<!-- Begin Gallery -->
		<!--=include parts/gallery.html1 -->
	<!-- End Gallery -->

	<!-- Begin Logos -->
		<!--=include parts/logos.html1 -->
	<!-- End Logos -->

	<!-- Begin Footer-->
		<!--=include parts/footer.html1 -->
	<!-- End Footer-->
	<script src="js/libs.min.js"></script>
	<script src="js/jquery.scroll.js1"></script>
	<script src="js/main.js"></script>
	<script src="js/debug.js1"></script>
</body>
</html>