.section-blog
	position: relative
	max-height: 670px
	height: 100%
	margin-top: 0
	.l-left
		width: col(4)
		margin-top: 244px
		padding-left: 18px 
		margin-right: -18px 
		height: 500px
		p
			padding-left: 1px 
	.l-blog-button
		margin-top: 25px
		margin-left: 0 
		width: 80% 
		height: 32px
		letter-spacing: 0.1px 
	.l-right
		position: relative
		width: col(7)
		margin-left: col(0.85)
	.l-blog-img--small
		position: relative
		width: 350px
		height: 350px
		top: 277px
		z-index: 10
	.l-blog-img--big
		position: absolute
		width: 806px
		height: 570px
		top: -36px
		left: 13%
		z-index: 5