@import '../_config'

.section-clients
	padding-top: 70px 
	.clients-blocks
		margin-top: 92px
		@extend .clearfix
	.client-block
		float: left
		margin: auto 25px
		width: calc(50% - 50px)
	.client-text
		padding-top: 10px
		font-size: 18px
		letter-spacing: 0
		line-height: 33px
		text-align: justify 
	.client-persone
		margin-top: 20px 
		margin-left: 4px 
		height: 66px 
		img
			background-color: #FFF
			border-radius: 50%
			height: 100%
		span
			display: inline-block
			color: $blue
			font-family: -ff(O)
			vertical-align: top
			padding-top: 25px 
			padding-left: 14px
	.clients-form
		padding-top: 184px 