.section-gallery
	padding-top: 75px
	padding-bottom: 52px 
.container
	height: 100%
.gallery
	margin: 73px 0
	&__img
		display: inline-block
		float: left
		background-repeat: no-repeat
		background-size: cover
		background-position: 50% 50%
		background-color: green 
		margin: 0 15px 30px 
		&-tall
			height: 343px
		&-middle
			height: 281px 
		&-small
			height: 243px 
		&-left
			width: calc(24.6% - 26px)
		&-center
			width: calc(32.9% - 25px)
		&-centerUp
			width: calc(32.9% - 25px)
			margin-top: -100px
			height: 381px
		&-right
			width: calc(41.2% - 26px)
			
