.section-gallery
	margin-bottom: 65px 
.container
	height: 100%
.gallery
	margin: 70px 0
	&__img
		display: inline-block
		float: left
		background-repeat: no-repeat
		background-size: cover
		background-position: 50% 50%
		background-color: green 
		margin: 0 15px 30px 
		&-tall
			height: 345px
		&-small
			height: 240px 
		&-left
			width: calc(24.6% - 30px)
		&-center
			width: calc(32.9% - 30px)
		&-centerUp
			width: calc(32.9% - 30px)
			margin-top: -105px
		&-right
			width: calc(41.2% - 30px)
			
