.section-header
	position: relative
	height: 698px
	max-height: 100vh 
	background-image: url(/img/header.jpg)
	background-repeat: no-repeat
	background-size: auto 107.1%
	background-position: 50% 100%
	margin-top: 0
	padding-top: 0
	@include mq(796)
		background-position: 0% 100%
	.hero
		position: relative
		height: 88px
		background-color: rgba(255,255,255, 0.23)
		ul 
			margin-top: 0
			padding-left: 17px 
			padding-top: 32px
			@include mq(870)
				display: none
				background-color: #FFF
				position: fixed
				width: 50vw
				top: 0
				left: 0
				z-index: 100
			li 
				display: inline-block
				margin-right: 20.1px 
				@include mq(870)
					display: block
				a
					display: block
					font-size: rem(12)
					color: #9daeb6
					text-decoration: none   
					text-transform: uppercase 
					font-weight: bold
					padding-bottom: 2px 
					letter-spacing: 1px
					&:hover
						border-bottom: 2px solid #9daeb6
				&.active a, .active a:hover
					cursor: default
					border-bottom: 2px solid #36aeea
		.nav-hero__short
			display: none
			@include mq(870)
				display: block
		.button
			float: right
			margin-top: 22px
			margin-right: 15px
			width: 75% 
	.l-left, 
		width: col(2)
		@include mq(870)
			position: relative
			left: 50%
		@include mq(600)
			width: col(6)
			right: 0			
	.l-right
		width: col(2) 
		@include mq(600)
			display: none
	.l-middle
		width: col(8)
		@include mq(600)
			position: relative
			width: col(6)
			left: -50%
p.logo
	position: relative
	font-family: -ff(B)
	font-size: 29px
	color: #36AEEA
	text-align: center
	letter-spacing: -0.1px
	padding-top: 33px
	left: -5px
	span
		color: #95a5ad
.header
	position: relative
	margin: 133px 21px 0
	padding: 33px 0 41px 33px
	width: calc(100% - 75px)
	border: 3px solid #fff
	border-top: 0
	@include mq(845)
		margin-top: 100px
		border: none
	@include mq(600)
		padding: 33px 0 41px
		margin: 0 auto
		text-align: center
	&:before, &:after
  		display: block
  		position: absolute
  		content: ''
  		height: 3px
  		background: #fff
  		top: 0
  		@include mq(845)
  			display: none
	&:before
  		width: calc(50% + 187px)
  		left: -1px
	&:after
		width: calc(50% - 384px)
		right: 0
	p
		width: 75%
		@include mq(600)
			width: 100%
	.header-title1
		color: #FFF
		font-family: -ff(O)
		font-weight: 600
		line-height: 1
		font-size: 3.2rem
		letter-spacing: 6px
		text-transform: uppercase 
	.header-title2
	 	margin-top: 0.4rem
	 	color: #36AEEA
	 	font-family: -ff(B)
	 	font-size: 4rem
	 	letter-spacing: 2.2px
	 	@include mq(450)
			line-height: 3rem 
	.header-desc
		width: 42%
		margin-top: 1.45rem
		padding-left: 4px 
		line-height: 1.9rem
		font-size: 17.58px 
		color: #fff
		letter-spacing: 0.2px
		@include mq(600)
			width: 100%
	.header-button
		position: relative
		margin-top: 22px
		margin-left: 4px
		width: 50%
		z-index: 20
		@include mq(600)
			width: auto
		@include mq(350)
			width: 100%
		a
			width: 45%
			height: 50px
			line-height: 45px
			letter-spacing: 3.8px
			padding-left: 2px
			word-spacing: -3px  
			@include mq(350)
				width: 100%

			 
		
