.section-journal
	padding-top: 110px
	padding-bottom: 98px

.journal_ratio
	+ratio(66.6%)
	+mq(510)
		+ratio(150%)

.journal_block
	+abs(0, 0, 100%, 100%)
	box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.75)

.journalItem
	float: left
	height: 50%
	width: 66.6%
	+mq(510)
		height: 33.3%
		width: 100%
	&-rightTop
		width: 33.3%
		height: 100%
		margin-top: -33.3%
		+mq(510)
			width: inherit
			height: inherit
			margin-top: 0  
		.journalPart
			&_src
				width: 100%
				height: 50%
				+mq(510)
					width: 50%
					height: 33.33333%
			&_text
				width: 100%
				height: 50%
				+mq(510)
					width: 46%
					height: 33.3%
.journalPart
	position: relative
	float: left
	height: 100%
	&_src
		width: 50%
	&_text
		width: 46%
		padding: 0 2%
		text-align: center
	&__img
		display: block
		position: relative
		height: 100%
		max-width: 100%
	&__icon
		+abs(50%, 50%, 64px, 64px)
		transform: translate(-50%, -50%)
		background-size: cover
		background-repeat: no-repeat
	&__label
		color: #16b5ef
		font-size: 11px
		font-weight: bold
		letter-spacing: 2px
		text-transform: uppercase 
		margin: 40px auto 43px
		+mq(1010)
			margin: 10px auto
	&__title
		color: #000
		font-size: 15px
		font-weight: bold
		letter-spacing: 2.2px
		line-height: 24px
		text-transform: uppercase
		+mq(820)
			letter-spacing: 0px
			font-size: 14px
			line-height: 20px
	&__desc
		font-size: 14px 
		line-height: 23px
		margin: 17px 6% 0
		+mq(1060)
			line-height: 1.2em
		+mq(820)
			overflow: hidden
			max-height: 86px 
			text-overflow: ellipsis
		+mq(680)
			display: none
	&__number
		position: absolute
		bottom: 40px
		left: 50%
		font-family: 'Times New Roman', Arial, Helvetica, sans-serif
		font-size: 14px
		font-style: italic
		+mq(1060)
			bottom: 5px
		+mq(310)
			display: none
