.section-offer
	min-height: 460px
	padding-top: 190px
	background-image: url(/img/offer-bg.jpg)
	background-repeat: no-repeat
	background-position: 50%, 0 
	background-size: 100% auto

.offerForm
	margin-top: 30px
	width: 66%
	&_form
		background-color: #FFF 
		padding: 13px 0px 13px 21px
		border-radius: 3px
	&_btn
		float: right
		width: 24%
		margin-top: -12px
		margin-right: 1px
		height: 100% 
	&__text
		font-family: "Open Sans", Geneva, Arial, Helvetica, sans-serif
		font-size: rem(16)  
		width: calc(33% - 1px)
		border: 0 
		&:first-child
			border-right: 1px solid #ebebeb
		&:focus
			outline: 0
			&::placeholder
				color: #cbcbcb
	&_msg
		margin-top: 10px
		
.formRequried
	&__img
		position: relative
		top: 2px
		width: 16px
		height: 16px
	&__msg
		margin-left: 10px
		color: #36aeea
		font-size: rem(14) 
		line-height: rem(34)
		letter-spacing: 1px
		font-family: "Open Sans", Geneva, Arial, Helvetica, sans-serif
		
		

