<div class="section section-blog section-gray section-world fp-section">
	<div class="container">
		<div class="l l-left">
			<div class="title title-left">
				<h1 class="small">About Us</h1>
			</div>
			<p class="small">Aliquam sed posuere urna, et gravida nisl. Praesent
			interdum nisl libero, pretium egestas purus eleifend 
			vitae. Mauris suscipit vel lectus at luctus.</p>
			<div class="l-blog-button">
				<a class="button button-small button-blue" href="#">Read more</a>
			</div>
		</div>
		<div class="l l-right">
			<div class="blog-ratio">
			<div class="img l l-blog-img l-blog-img--small" style="background-image: url(img/blog1.jpg)"></div>
			<div class="img l l-blog-img l-blog-img--big" style="background-image: url(img/blog2.jpg)"></div>
			</div>
		</div>
	</div>
</div>