<div class="section section-clients">
	<div class="container">
		<h2 class="title title-big">our clients say</h2>
		<div class="clients-block">
			<p class="clients-quote">"</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
			<div class="clients-persone">
				<img src="img/clients/Pavliv_Yaroslav.jpg" alt="">
				<span><strong>Pavliv Yaroslav</strong> Web designer</span>
			</div>
		</div>
		<div class="clients-block">
			<p class="clients-quote">"</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
			<div class="clients-persone">
				<img src="img/clients/John_Scott.jpg" alt="">
				<span><strong>John Scott</strong> The Fringe</span>
			</div>
		</div>
	</div>
</div>