<div class="section section-clients">
	<div class="container">
		<h1>our clients say</h1>
		<div class="clients-blocks">
			<div class="client-block">
				<p class="client-quote">"</p>
				<p class="client-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
				<div class="client-persone">
					<img src="img/Persone1.png" alt="">
					<span><strong>Pavliv Yaroslav</strong> Web designer</span>
				</div>
			</div>
			<div class="client-block">
				<p class="client-quote">"</p>
				<p class="client-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
				<div class="client-persone">
					<img src="img/Persone2.png" alt="">
					<span><strong>John Scott</strong> The Fringe</span>
				</div>
			</div>			
		</div>
		<div class="clients-form">
			<h1 class="form-title">Contacts</h1>
			<p class="form-desc">Sign up for our newsletter to receive updates</p>
			<form action="">
				<input type="text" name="name" placeholder="name" id="formName">
				<input type="text" name="phone" placeholder="phone" id="formPhone">
				<input type="email" name="email" placeholder="E-mail" id="formEmail">
				<button>Send</button>
			</form>
			<div class="form-bg"></div>
		</div>
	</div>
</div>
<div class="footer_bottom">
	<div class="container">
		<p class="bottom_rights">All rights reserved 2015</p>
		<div class="bottom_icons">
			<div class="icons icons_twitter"></div>
			<div class="icons icons_facebook"></div>
			<div class="icons icons_vk"></div>
		</div>
		<p class="bottom_tel">1 234 243 123</p>
	</div>
</div>