<div class="section section-footer">
	<div class="container">
		<div class="form-wrapper">
			<p class="form-name">Clients</p>
			<p class="form-desc">Sign up for our newsletter to receive updates</p>
			<form action="#">
				<input type="text" name="name" placeholder="name">
				<input type="text" name="phone" placeholder="phone">
				<input type="email" name="email" placeholder="e-mail">
				<button>send</button>
			</form>
		</div>
		<div class="footer-row">
			<p class="footer-row--rights">All rights reserved 2015</p>
			<ul class="footer-icons">
				<li class="footer-icons--twitter"><a href="#"></a></li>
				<li class="footer-icons--facebook"><a href="#"></a></li>
				<li class="footer-icons--vk"><a href="#"></a></li>
			</ul>
		</div>
	</div>
</div>