<div class="section section-clients">
	<div class="container">
		<h1>our clients say</h1>
		<div class="clients-block">
			<p class="clients-quote">"</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
			<div class="clients-persone">
				<img src="img/clients/Pavliv_Yaroslav.jpg" alt="">
				<span><strong>Pavliv Yaroslav</strong> Web designer</span>
			</div>
		</div>
		<div class="clients-block">
			<p class="clients-quote">"</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>
			<div class="clients-persone">
				<img src="img/clients/John_Scott.jpg" alt="">
				<span><strong>John Scott</strong> The Fringe</span>
			</div>
		</div>
		<div class="clients-form">
			<h1 class="form-title">Contacts</h1>
			<p class="form-desc">Sign up our newsletter to receive updates</p>
			<form action="">
				<input type="text" name="name" placeholder="name" id="formName">
				<input type="text" name="phone" placeholder="phone" id="formPhone">
				<input type="email" name="email" placeholder="E-mail" id="formEmail">
				<button>Send</button>
			</form>
		</div>
	</div>
</div>