<div class="section section-header">
	<div class="hero">
 		<div class="container">
 			<div class="l l-left">
 				<p class="logo">Moun<span>taing</span></p>
 			</div>
 			<div class="l l-middle">
	 			<ul class="nav nav-hero">
	 				<li><a href="#">our story</a></li>
			        <li class="active"><a href="#">services</a></li>
			        <li><a href="#">work</a></li>
			        <li><a href="#">journal</a></li>
			        <li><a href="#">contact</a></li>
			        <li><a href="#">work </a></li>
			       	<li><a href="#">journal</a></li>
	 			</ul>
			</div>
 			<div class="l l-right">
 				<a href="#" class="button">Call us</a>
			</div>
 		</div>
	</div>
	<div class="container">
			<div class="header">
				<p class="header-title1">travel with us</p>
				<p class="header-title2">to the Mounting</p>
				<p class="header-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
	 			<div class="header-button ">
	 				<a href="#" class="button button-blue">Order now</a>
				</div>
			</div>
	</div>
</div>