<div class="section section-journal">
	<div class="container">
		<h1>Our journal</h1>	
		<div class="journal_ratio">
			<div class="journal_block shadow">
				<!-- Block 1 -->
				<div class="journalItem journalItem-leftTop">
					<div class="journalItem_part journalPart journalPart_src">
						<img src="img/journal1.jpg" alt="" class="journalPart__img">
						<div class="journalPart__icon" style="background-image: url(img/hart.png)"></div>
					</div>
					<div class="journalItem_part journalPart journalPart_text journalPart_arrow journalPart_arrow-left">
						<p class="journalPart__label">Love</p>
						<p class="journalPart__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, set do</p>
						<p class="journalPart__desc">You know how to make best coffee in the universe? Or, maybe you’re very good indesigning gloves? Tell everyone about your experience and skills.</p>
						<p class="journalPart__number">01</p>
					</div>
				</div>
				<!-- Block 2 -->
				<div class="journalItem journalItem-leftBottom">
					<div class="journalItem_part journalPart journalPart_text journalPart_arrow journalPart_arrow-right">
						<div class="journalPart_arrow journalPart_arrow-right">
							<p class="journalPart__label">Tree</p>
							<p class="journalPart__title">Lorem ipsum dolor sit amet, <del>consectetur</del> adipisicing elit,</p>
							<p class="journalPart__desc">The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.</p>
							<p class="journalPart__number">02</p>
						</div>
					</div>
					<div class="journalItem_part journalPart journalPart_src">
						<img src="img/journal2.jpg" alt="" class="journalPart__img">
						<div class="journalPart__icon" style="background-image: url(img/leaflet.png)"></div>
					</div>
				</div>
				<!-- Block 3 -->
				<div class="journalItem journalItem-rightTop">
					<div class="journalItem_part journalPart journalPart_src">
						<img src="img/journal3.jpg" alt="" class="journalPart__img">
						<div class="journalPart__icon" style="background-image: url(img/drop.png)"></div>
					</div> 
					<div class="journalItem_part journalPart journalPart_text journalPart_arrow journalPart_arrow-top">
						<div class="journalPart_arrow journalPart_arrow-left">
							<p class="journalPart__label">Water</p>
							<p class="journalPart__title">LITTLE PIECES OF OUR PROUDNESS</p>
							<p class="journalPart__desc">What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?</p>
							<p class="journalPart__number">03</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>