<div class="section section-journal">
	<div class="container">
		<h1>Our journal</h1>	
		<div class="ratio">
			<div class="shadow wraper-journal">
				<div class="l l-hor">
					<div class="journal-image l l-img--hor" style="background-image: url(img/journal1.jpg)">
						<div class="journal-icon" style="background-image: url(img/hart.png)"></div>
					</div>
					<div class="l l-text--hor arrow arrow-left">
						<p class="journal-label">Love</p>
						<p class="journal-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, set do</p>
						<p class="journal-desc">You know how to make best coffee in the universe? Or, maybe you’re very good indesigning gloves? Tell everyone about your experience and skills.</p>
						<p class="journal-number">01</p>
					</div>
				</div>
				<div class="l l-hor">
					<div class="l l-text--hor arrow arrow-right">
						<p class="journal-label">Tree</p>
						<p class="journal-title">Lorem ipsum dolor sit amet, <del>consectetur</del> adipisicing elit,</p>
						<p class="journal-desc">The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.</p>
						<p class="journal-number">02</p>
					</div>
					<div class="journal-image l l-img--hor" style="background-image: url(img/journal2.jpg)">
						<div class="journal-icon" style="background-image: url(img/leaflet.png)"></div>
					</div>			
				</div>
				<div class="l l-vert">
					<div class="journal-image l l-img--vert" style="background-image: url(img/journal3.jpg)">
						<div class="journal-icon" style="background-image: url(img/drop.png)"></div>
					</div>
					<div class="l l-text--vert arrow arrow-top">
						<p class="journal-label">Water</p>
						<p class="journal-title">LITTLE PIECES OF OUR PROUDNESS</p>
						<p class="journal-desc">What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?</p>
						<p class="journal-number">03</p>
					</div>				
				</div>
			</div>
		</div>
	</div> 
</div>