<div class="section section-jurnal">
	<div class="container">
		<h1>Our journal</h1>	
		<div class="shadow ratio">
			<div class="wraper-jurnal">
				<div class="l l-hor">
					<div class="jurnal-image l l-img--hor" style="background-image: url(img/jurnal1.jpg)">
						<div class="jurnal-icon" style="background-image: url(img/hart.png)"></div>
					</div>
					<div class="l l-text--hor arrow arrow-left">
						<p class="jurnal-label">Love</p>
						<p class="jurnal-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, set do</p>
						<p class="jurnal-desc">You know how to make best coffee in the universe? Or, maybe you’re very good indesigning gloves? Tell everyone about your experience and skills.</p>
						<p class="jurnal-number">01</p>
					</div>
				</div>
				<div class="l l-hor">
					<div class="l l-text--hor arrow arrow-right">
						<p class="jurnal-label">Tree</p>
						<p class="jurnal-title">Lorem ipsum dolor sit amet, <del>consectetur</del> adipisicing elit,</p>
						<p class="jurnal-desc">The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.</p>
						<p class="jurnal-number">02</p>
					</div>
					<div class="jurnal-image l l-img--hor" style="background-image: url(img/jurnal2.jpg)">
						<div class="jurnal-icon" style="background-image: url(img/leaflet.png)"></div>
					</div>			
				</div>
				<div class="l l-vert">
					<div class="jurnal-image l l-img--vert" style="background-image: url(img/jurnal3.jpg)">
						<div class="jurnal-icon" style="background-image: url(img/drop.png)"></div>
					</div>
					<div class="l l-text--vert arrow arrow-top">
						<p class="jurnal-label">Water</p>
						<p class="jurnal-title">LITTLE PIECES OF OUR PROUDNESS</p>
						<p class="jurnal-desc">What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?</p>
						<p class="jurnal-number">03</p>
					</div>				
				</div>
			</div>
		</div>
	</div> 
</div>