<div class="section section-logos">
	<div class="container">
		<ul class="icons"> 
			<li class="icons-item"><img class="icons__img" src="img/slack.svg" alt=""></li>
			<li class="icons-item"><img class="icons__img" src="img/adobe.svg" alt=""></li>
			<li class="icons-item"><img class="icons__img" src="img/google.png" alt=""></li>
			<li class="icons-item"><img class="icons__img" src="img/facebook.svg" alt=""></li>
			<li class="icons-item"><img class="icons__img" src="img/spotify.svg" alt=""></li>
			<li class="icons-item"><img class="icons__img" src="img/nike.svg" alt=""></li>
		</ul>
	</div>
</div>