<div class="section section-offer section-gray">
	<div class="container">
		<div class="title title-left">
			<h1 class="small">Do you wanna go?</h1>
		</div>
		<div class="desc desc-wannago">
			<p>Aliquam sed posuere urna, et gravida nisl. Praesent<br>
			interdum nisl libero, pretium egestas purus eleifend vitae. 
			Mauris suscipit vel lectus at luctus.</p>
		</div>
		<div class="offerForm">
			<div class="offerForm_form">
				<form action="#">
					<input class="offerForm__text" type="text" placeholder="Your name:">
					<input class="offerForm__text" type="phone" placeholder="Your phone:">
					<button class="offerForm_btn">Order now</button>
				</form>
			</div>
			<div class="offerForm_msg formRequried">
				<img class="formRequried__img" src="img/lock.png" />
				<span class="formRequried__msg">* Your data will not be transferred</span>
			</div>
		</div>
	</div>
</div>