<div class="section section_scheme">
	<div class="container">
		<div class="title title-center">
			<h1>How we work</h1>
		</div>
		<div class="scheme_items">
			<div class="scheme_item">
				<p class="scheme_item__number scheme_item__number--first">1</p>
				<div class="scheme_img">
					<div class="scheme_cube">
						<img src="img/document.png" alt="">
					</div>
				</div>
				<p class="scheme_item__title">Lorem ipsum dolor sit</p>
				<p class="scheme_item__desc">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
			</div>

			<div class="scheme_item">
				<p class="scheme_item__number">2</p>
				<div class="scheme_img">
					<div class="scheme_cube">
						<img src="img/human.png" alt="">
					</div>
				</div>
				<p class="scheme_item__title">Lorem ipsum dolor sit</p>
				<p class="scheme_item__desc">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
			</div>

			<div class="scheme_item">
				<p class="scheme_item__number">3</p>
				<div class="scheme_img">
					<div class="scheme_cube">
						<img src="img/book.png" alt="">
					</div>
				</div>
				<p class="scheme_item__title">Lorem ipsum dolor sit</p>
				<p class="scheme_item__desc">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
			</div>

			<div class="scheme_item">
				<p class="scheme_item__number scheme_item__number--last">4</p>
				<div class="scheme_img">
					<div class="scheme_cube">
						<img src="img/ok.png" alt="">
					</div>
				</div>
				<p class="scheme_item__title">Lorem ipsum dolor sit</p>
				<p class="scheme_item__desc">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
			</div>
		</div>
	</div>
</div>