<div class="section section-world section-world-blue section-travel ">
	<div class="container">
		<h1>Travel with us</h1>
		<ul class="travels">
			<li class="travels_item">
				<div class="travelCard" style="background-image: url(img/travel1.jpg)">
					<div class="travelCard__stars travelCard__stars-4"></div>
					<p class="travelCard__title">Carpathian</p>
					<p class="travelCard__desc">Lorem ipsum dolor si amet, consectetur adip</p>
					<p class="travelCard__price travelCard__price-old">3150$</p>
					<p class="travelCard__price travelCard__price-new">$793</p>
				</div>
			</li>
			<li class="travels_item">
				<div class="travelCard" style="background-image: url(img/travel2.jpg)">
					<div class="travelCard__stars travelCard__stars-5"></div>
					<p class="travelCard__title">Alps</p>
					<p class="travelCard__desc">Lorem ipsum dolor si amet, consectetur adip</p>
					<p class="travelCard__price travelCard__price-old">3150$</p>
					<p class="travelCard__price travelCard__price-new">$1893</p>
				</div>
			</li>
			<li class="travels_item">
				<div class="travelCard" style="background-image: url(img/travel3.jpg)">
					<div class="travelCard__stars travelCard__stars-5"></div>
					<p class="travelCard__title">Pyrenees</p>
					<p class="travelCard__desc">Lorem ipsum dolor si amet, consectetur adip</p>
					<p class="travelCard__price travelCard__price-old">3150$</p>
					<p class="travelCard__price travelCard__price-new">$2593</p>
				</div>
			</li>
			<li class="travels_item">
				<div class="travelCard" style="background-image: url(img/travel4.jpg)">
					<div class="travelCard__stars travelCard__stars-5"></div>
					<p class="travelCard__title">Rocky</p>
					<p class="travelCard__desc">Lorem ipsum dolor si amet, consectetur adip</p>
					<p class="travelCard__price travelCard__price-old">3150$</p>
					<p class="travelCard__price travelCard__price-new">$2123</p>
				</div>
			</li>
			<li class="travels_item">
				<div class="travelCard" style="background-image: url(img/travel5.jpg)">
					<div class="travelCard__stars travelCard__stars-3"></div>
					<p class="travelCard__title">Kavkaz</p>
					<p class="travelCard__desc">Lorem ipsum dolor si amet, consectetur adip</p>
					<p class="travelCard__price travelCard__price-old">3150$</p>
					<p class="travelCard__price travelCard__price-new">$593</p>
				</div>
			</li>
		</ul>
	</div>
</div>